.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

li {
  list-style-type: none;
}

/* navBar */
.links {
  padding: 10px 25px;
  text-decoration: none;
  color: #000;
}

.navBar {
  display: flex;
  justify-content: center;
  background-color: yellowgreen;
  height: 40px;
}

/* loginTask */
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginInput {
  display: flex;
  height: 2rem;
  margin: 5px;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signUpInput {
  display: flex;
  height: 2rem;
  margin: 5px;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.signUpButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* movieListTask */
.searchBar {
  margin: 30px;
}

.searchInput {
  width: 20%;
}

th {
  text-decoration: underline;
}

table {
  display: flex;
  justify-content: center;
}

td {
  width: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* 50 US states game */
.guessInput {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: large;
}

input {
  margin-left: 10px;
}

textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  border: 2px solid yellowgreen;
  border-radius: 4px;
  background-color: rgb(220, 241, 178);
  font-size: 16px;
  resize: none;
}

p {
  font-size: large;
}

button {
  margin-left: 10px;
}

.customButton {
  width: 15%;
  padding: 12px 20px;
  border: 2px solid yellowgreen;
  border-radius: 4px;
  background-color: rgb(193, 239, 100);
  font-size: 16px;
  margin: 20px;
}

/* Dropdown Menu */
.mainMenu {
  display: flex;
  justify-content: center;
  background-color: green;
  height: 50px;
  font-size: x-large;
}

.mainMenu li {
  list-style-type: none;
  padding: 10px 20px 5px 3px;
  width: 150px;
  background-color: green;
}

.mainMenu li ul {
  background-color: green;
  margin: 0px;
  padding: 0px;
}

.mainMenu li ul li {
  color: white;
  float: none;
  list-style-type: none;
  width: auto;
  margin: 3px 3px 0px 0px;
  padding: 5px 3px;
}

.menu:hover .dropMenu {
  display: block;
}

.menu .dropMenu {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: 0.8;
}
