.App {
  text-align: center;
}

.links {
  padding: 10px 25px;
  text-decoration: none;
  color: #000;
}

.navBar {
  display: flex;
  justify-content: center;
  background-color: yellowgreen;
  height: 40px;
}
